@page "/"
@page "/accueil"

<PageTitle>Accueil</PageTitle>

<h1>Bienvenue</h1>

Bienvenue dans le monde de l'édifficaton personnelle.
<br />

<button>Utilisateur</button>
<button>Admin</button>


@code {

}
